<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN-bootstrap-start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- CDN-bootstrap-end -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <!-- CDN-css -->
        <link rel="stylesheet" href="static/css/style.css">
        <!-- img logo -->
        <link rel="icon" href="static/images/logo/1.png">
        <title>Home Cooking</title>  
    </head>
    <body class="body" >
        <header class="header"  >
        <nav class="navbar navbar-expand-lg  navbar-light  fixed-top" >
          <a class="navbar-brand" href="/"><h2><img src="/static/images/logo/1.png" style="width: 6rem; height: 5rem; position: sticky;  "  alt="logo">  </h2></a>
             
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                 <ul class="navbar-nav migraines">
                    <li class="nav-item "> 
                       <a class="nav-link text-dark mr-5 "  href="/order"> Orders </a>  
                    </li>
      
                    <li class="nav-item dropdown" >
                       <a class="nav-link dropdown-toggle  text-dark mr-5 "  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Meals
                      </a>
                      <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Salads">Salads & Condiments</a>
                        <a class="dropdown-item" href="/Meat">Meat,Poultry & Fish</a>
                        <a class="dropdown-item" href="/sweets">Sweets </a>
      
      
                      </div>
                    </li>
                  
                  
              
                 </ul>
                 <button class="btn  my-2 my-sm-0" href="/login" >LOGIN</button>
      
              </div>
        </nav>
      
      
      </header>
     
         <h1 style="text-align: center;">Liste des clients</h1>
         <div class="container">
             {% for m in msg %}
             <div  class="justify-content-center" style="border: 2px solid black; text-align:justify; margin-top: 40px; width: 50rem; height: 15rem;margin-left: 9rem; ">
                 <h5>{{m.name}} </h5>
                 <h5>{{m.email}} </h5>
                 <h5>{{m.phone}} </h5>
                 <h5> {{m.adress}} </h5>
                 <h5> {{m.messagee}} </h5>
             </div>
             {% endfor %}
         </div>
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
             <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
             <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
     </body>
     </html>